In [1]:
import pandas as pd
import numpy as np

In [2]:
team = pd.read_excel('C:/Users/Administrator/Desktop/Python/IPL Data/IPL Data/Team.xlsx')

In [3]:
match = pd.read_excel('C:/Users/Administrator/Desktop/Python/IPL Data/IPL Data/Match.xlsx')

In [4]:
ball_by_ball = pd.read_excel('C:/Users/Administrator/Desktop/Python/IPL Data/IPL Data/Ball_by_Ball.xlsx')

In [5]:
player = pd.read_excel('C:/Users/Administrator/Desktop/Python/IPL Data/IPL Data/Player.xlsx')

In [6]:
player_match = pd.read_excel('C:/Users/Administrator/Desktop/Python/IPL Data/IPL Data/Player_Match.xlsx')

In [7]:
season = pd.read_excel('C:/Users/Administrator/Desktop/Python/IPL Data/IPL Data/Season.xlsx')

In [8]:
team.head()

   Team_Id                    Team_Name Team_Short_Code
0        1        Kolkata Knight Riders             KKR
1        2  Royal Challengers Bangalore             RCB
2        3          Chennai Super Kings             CSK
3        4              Kings XI Punjab            KXIP
4        5             Rajasthan Royals              RR

In [9]:
match.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,2008-04-18,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,2008-04-19,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,2008-04-19,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India
3,335990,2008-04-20,7,2,1,Wankhede Stadium,7,bat,0,1,0,by wickets,5.0,2.0,11.0,473,476,Mumbai,India
4,335991,2008-04-20,1,8,1,Eden Gardens,8,bat,0,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India

In [10]:
ball_by_ball.head()

,Match_Id,Season_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,1,5,1,2,2,2,1,14,0,,,,,

In [11]:
player.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire
0,1,SC Ganguly,1972-07-08,Left_Hand,Right-arm medium,India,0
1,2,BB McCullum,1981-09-27,Right_Hand,Right-arm medium,New Zealand,0
2,3,RT Ponting,1974-12-19,Right_Hand,Right-arm medium,Australia,0
3,4,DJ Hussey,1977-07-15,Right_Hand,Right-arm offbreak,Australia,0
4,5,Mohammad Hafeez,1980-10-17,Right_Hand,Right-arm offbreak,Pakistan,0

In [12]:
player_match.head()

   Match_Id  Player_Id  Team_Id  Is_Keeper  Is_Captain
0    335987          1        1          0           1
1    335987          2        1          0           0
2    335987          3        1          0           0
3    335987          4        1          0           0
4    335987          5        1          0           0

In [13]:
season.head()

   Season_Id  Season_Year  Orange_Cap_Id  Purple_Cap_Id  Man_of_the_Series_Id
0          1         2008            100            102                    32
1          2         2009             18             61                    53
2          3         2010            133            131                   133
3          4         2011            162            194                   162
4          5         2012            162            190                   315

In [14]:
#how many times each team won matches.

In [15]:
x = pd.merge(match,team,left_on='Match_Winner_Id',right_on='Team_Id')

In [16]:
x['date']= pd.to_datetime(x['Match_Date'],format="%m-%d-%Y")
x['Year'] = x['date'].dt.year
x.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,...,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country,Team_Id,Team_Name,Team_Short_Code,date,Year
0,335987,2008-04-18,2,1,1,M Chinnaswamy Stadium,2,field,0,1,...,2.0,470,477,Bangalore,India,1,Kolkata Knight Riders,KKR,2008-04-18,2008
1,335991,2008-04-20,1,8,1,Eden Gardens,8,bat,0,1,...,4.0,474,486,Kolkata,India,1,Kolkata Knight Riders,KKR,2008-04-20,2008
2,336015,2008-05-08,1,2,1,Eden Gardens,1,bat,0,1,...,1.0,470,475,Kolkata,India,1,Kolkata Knight Riders,KKR,2008-05-08,2008
3,336019,2008-05-11,8,1,1,"Rajiv Gandhi International Stadium, Uppal",1,bat,0,1,...,1.0,475,492,Hyderabad,India,1,Kolkata Knight Riders,KKR,2008-05-11,2008
4,336022,2008-05-13,1,6,1,Eden Gardens,1,bat,0,1,...,144.0,470,475,Kolkata,India,1,Kolkata Knight Riders,KKR,2008-05-13,2008

In [17]:
type(x)

pandas.core.frame.DataFrame

In [18]:
x.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,...,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country,Team_Id,Team_Name,Team_Short_Code,date,Year
0,335987,2008-04-18,2,1,1,M Chinnaswamy Stadium,2,field,0,1,...,2.0,470,477,Bangalore,India,1,Kolkata Knight Riders,KKR,2008-04-18,2008
1,335991,2008-04-20,1,8,1,Eden Gardens,8,bat,0,1,...,4.0,474,486,Kolkata,India,1,Kolkata Knight Riders,KKR,2008-04-20,2008
2,336015,2008-05-08,1,2,1,Eden Gardens,1,bat,0,1,...,1.0,470,475,Kolkata,India,1,Kolkata Knight Riders,KKR,2008-05-08,2008
3,336019,2008-05-11,8,1,1,"Rajiv Gandhi International Stadium, Uppal",1,bat,0,1,...,1.0,475,492,Hyderabad,India,1,Kolkata Knight Riders,KKR,2008-05-11,2008
4,336022,2008-05-13,1,6,1,Eden Gardens,1,bat,0,1,...,144.0,470,475,Kolkata,India,1,Kolkata Knight Riders,KKR,2008-05-13,2008

In [19]:
x.pivot_table(index = 'Year',columns='Team_Name',values='Match_Winner_Id',aggfunc='size')

Team_Name,Chennai Super Kings,Deccan Chargers,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
Year,,,,,,,,,,,,,
2008,9.0,2.0,7.0,NaN,10.0,NaN,6.0,7.0,NaN,13.0,NaN,4.0,NaN
2009,8.0,9.0,10.0,NaN,7.0,NaN,3.0,5.0,NaN,6.0,NaN,9.0,NaN
2010,9.0,8.0,7.0,NaN,4.0,NaN,7.0,11.0,NaN,6.0,NaN,8.0,NaN
2011,11.0,6.0,4.0,NaN,7.0,6.0,8.0,10.0,4.0,6.0,NaN,10.0,NaN
2012,10.0,4.0,11.0,NaN,8.0,NaN,12.0,10.0,4.0,7.0,NaN,8.0,NaN
2013,12.0,NaN,3.0,NaN,8.0,NaN,6.0,13.0,4.0,11.0,NaN,9.0,10.0
2014,10.0,NaN,2.0,NaN,12.0,NaN,11.0,7.0,NaN,7.0,NaN,5.0,6.0
2015,10.0,NaN,5.0,NaN,3.0,NaN,7.0,10.0,NaN,7.0,NaN,8.0,7.0
2016,NaN,NaN,7.0,9.0,4.0,NaN,8.0,7.0,NaN,NaN,5.0,9.0,11.0

## How many matches each team has played

In [20]:
y = pd.merge(match,team,left_on='Team_Name_Id',right_on='Team_Id')
y['date']= pd.to_datetime(y['Match_Date'],format="%m-%d-%Y")
y['Year'] = y['date'].dt.year
y.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,...,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country,Team_Id,Team_Name,Team_Short_Code,date,Year
0,335987,2008-04-18,2,1,1,M Chinnaswamy Stadium,2,field,0,1,...,2.0,470,477,Bangalore,India,2,Royal Challengers Bangalore,RCB,2008-04-18,2008
1,335997,2008-04-26,2,5,1,M Chinnaswamy Stadium,5,field,0,1,...,32.0,471,475,Bangalore,India,2,Royal Challengers Bangalore,RCB,2008-04-26,2008
2,336001,2008-04-28,2,3,1,M Chinnaswamy Stadium,3,bat,0,1,...,20.0,478,513,Bangalore,India,2,Royal Challengers Bangalore,RCB,2008-04-28,2008
3,336011,2008-05-05,2,4,1,M Chinnaswamy Stadium,4,field,0,1,...,77.0,473,478,Bangalore,India,2,Royal Challengers Bangalore,RCB,2008-05-05,2008
4,336017,2008-05-28,2,7,1,M Chinnaswamy Stadium,7,field,0,1,...,149.0,474,479,Bangalore,India,2,Royal Challengers Bangalore,RCB,2008-05-28,2008

In [21]:
a = y.groupby('Team_Name_Id')['Match_Id'].count()
b = y.groupby('Opponent_Team_Id')['Match_Id'].count()
x = pd.concat([a,b],axis=1)
x = a+b

## Top 10 batsmen

- Based on runs

In [22]:
y = pd.merge(player,ball_by_ball,left_on='Player_Id',right_on='Striker_Id')

In [23]:
y.groupby('Player_Name')['Batsman_Scored'].sum().sort_values(ascending=False).head(10)

Player_Name
SK Raina          4106
V Kohli           4105
RG Sharma         3874
G Gambhir         3634
CH Gayle          3447
RV Uthappa        3390
DA Warner         3373
AB de Villiers    3270
MS Dhoni          3270
S Dhawan          3082
Name: Batsman_Scored, dtype: int64

- Based on sixes

In [24]:
a = y.query('Batsman_Scored == 6')
a.groupby('Player_Name')['Batsman_Scored'].count().sort_values(ascending=False).head(10)

Player_Name
CH Gayle          252
RG Sharma         164
SK Raina          161
V Kohli           148
YK Pathan         143
AB de Villiers    142
MS Dhoni          140
DA Warner         134
Yuvraj Singh      133
KA Pollard        125
Name: Batsman_Scored, dtype: int64

- Based on fours

In [25]:
a = y.query('Batsman_Scored == 4')
a.groupby('Player_Name')['Batsman_Scored'].count().sort_values(ascending=False).head(10)

Player_Name
G Gambhir       422
V Kohli         360
SK Raina        360
S Dhawan        348
RV Uthappa      341
DA Warner       338
V Sehwag        334
RG Sharma       323
SR Tendulkar    295
AM Rahane       285
Name: Batsman_Scored, dtype: int64

- Number of 100

In [26]:
x = y.groupby(['Match_Id','Player_Name'])['Batsman_Scored'].agg(np.sum)
y = pd.DataFrame(x)
y.reset_index(inplace=True)
z = y.query('Batsman_Scored >= 100')
z.groupby('Player_Name')['Batsman_Scored'].count().sort_values(ascending=False).head(10)

Player_Name
CH Gayle          5
V Kohli           4
AB de Villiers    3
M Vijay           2
V Sehwag          2
SR Watson         2
AC Gilchrist      2
BB McCullum       2
DA Warner         2
YK Pathan         1
Name: Batsman_Scored, dtype: int64

## Top 10 teams

- Based on number of matches won

In [27]:
x = pd.merge(match,team,left_on='Match_Winner_Id',right_on='Team_Id')
x.groupby('Team_Name')['Match_Winner_Id'].count().sort_values(ascending=False).head(10)

Team_Name
Mumbai Indians                 80
Chennai Super Kings            79
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Rajasthan Royals               63
Kings XI Punjab                63
Delhi Daredevils               56
Sunrisers Hyderabad            34
Deccan Chargers                29
Pune Warriors                  12
Name: Match_Winner_Id, dtype: int64

- Based on winning the toss and winning the match

In [28]:
x = pd.merge(match,team,left_on='Toss_Winner_Id',right_on='Team_Id')
x.groupby('Team_Name')['Match_Winner_Id'].count().sort_values(ascending=False).head(10)

Team_Name
Mumbai Indians                 74
Kolkata Knight Riders          69
Chennai Super Kings            66
Kings XI Punjab                64
Delhi Daredevils               63
Rajasthan Royals               62
Royal Challengers Bangalore    60
Deccan Chargers                43
Sunrisers Hyderabad            30
Pune Warriors                  20
Name: Match_Winner_Id, dtype: int64

- Based on team winning highest number of Man of the match

In [29]:
x = pd.merge(match,team,left_on='Match_Winner_Id',right_on='Team_Id')
x.groupby('Team_Name')['Man_Of_The_Match_Id'].count().sort_values(ascending=False).head(10)

Team_Name
Mumbai Indians                 80
Chennai Super Kings            79
Royal Challengers Bangalore    70
Kolkata Knight Riders          68
Rajasthan Royals               63
Kings XI Punjab                63
Delhi Daredevils               56
Sunrisers Hyderabad            34
Deccan Chargers                29
Pune Warriors                  12
Name: Man_Of_The_Match_Id, dtype: int64

## Season Wise

- Orange Cap holder

In [30]:
x = pd.merge(season,player,left_on='Orange_Cap_Id',right_on='Player_Id')
x.groupby(['Season_Id','Player_Name'])['Orange_Cap_Id'].count()

Season_Id  Player_Name
1          SE Marsh        1
2          ML Hayden       1
3          SR Tendulkar    1
4          CH Gayle        1
5          CH Gayle        1
6          MEK Hussey      1
7          RV Uthappa      1
8          DA Warner       1
9          V Kohli         1
Name: Orange_Cap_Id, dtype: int64

- Purple Cap holder

In [31]:
x = pd.merge(season,player,left_on='Purple_Cap_Id',right_on='Player_Id')
x.groupby(['Season_Id','Player_Name'])['Purple_Cap_Id'].count()

Season_Id  Player_Name
1          Sohail Tanvir    1
2          RP Singh         1
3          PP Ojha          1
4          SL Malinga       1
5          M Morkel         1
6          DJ Bravo         1
7          MM Sharma        1
8          DJ Bravo         1
9          B Kumar          1
Name: Purple_Cap_Id, dtype: int64

#### Total number of matches

In [32]:
match['Match_Id'].count()

577

#### Total number of sixes

In [33]:
x = ball_by_ball.query('Batsman_Scored==6')
x['Batsman_Scored'].count()

5813

#### Total number of four

In [34]:
x = ball_by_ball.query('Batsman_Scored==4')
x['Batsman_Scored'].count()

15413

#### Team wise count of title win

In [35]:
match.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,2008-04-18,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,2008-04-19,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,2008-04-19,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India
3,335990,2008-04-20,7,2,1,Wankhede Stadium,7,bat,0,1,0,by wickets,5.0,2.0,11.0,473,476,Mumbai,India
4,335991,2008-04-20,1,8,1,Eden Gardens,8,bat,0,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India

- Total number of fifty

In [36]:
x = y.groupby(['Match_Id','Player_Name'])['Batsman_Scored'].agg(np.sum)
y = pd.DataFrame(x)
y.reset_index(inplace=True)
z = y.query('Batsman_Scored >= 50 and Batsman_Scored <100 ')
z.groupby('Player_Name')['Batsman_Scored'].count().sum()

815

In [37]:
x = y.groupby(['Match_Id','Player_Name'])['Batsman_Scored'].agg(np.sum)
y = pd.DataFrame(x)
y.reset_index(inplace=True)
z = y.query('Batsman_Scored >= 100')
z.groupby('Player_Name')['Batsman_Scored'].count().sum()

42

- Winby runs

In [38]:
x = pd.merge(match,team,left_on='Match_Winner_Id',right_on='Team_Id')
y = pd.DataFrame(x)
z = y[['Season_Id','Team_Name','Won_By']].sort_values('Won_By',ascending=False)
z.groupby('Season_Id')['Won_By'].max()

Season_Id
1    140.0
2     92.0
3     98.0
4    111.0
5     86.0
6    130.0
7     93.0
8    138.0
9    144.0
Name: Won_By, dtype: float64

### Title winner season by season

In [39]:
x=pd.merge(match,team,left_on='Match_Winner_Id',right_on='Team_Id')
y = x.groupby('Season_Id')['Match_Id'].max()
y = ['336045','392244','419170','501276','548386','598078','734054','829828','981024']
z = x[x['Match_Id'].isin(y)]
z[['Season_Id','Match_Winner_Id','Team_Name']]['Team_Name'].value_counts()

Mumbai Indians           2
Chennai Super Kings      2
Kolkata Knight Riders    2
Deccan Chargers          1
Sunrisers Hyderabad      1
Rajasthan Royals         1
Name: Team_Name, dtype: int64